infra/templates/state_machines/process_works_workflow/sqlmesh_workflow.asl.json
{
  "Comment": "SQLMesh task run — builds Batch params, submits job, marks task run COMPLETED",
  "StartAt": "BuildSqlmeshParams",
  "States": {
    "BuildSqlmeshParams": {
      "Type": "Task",
      "Comment": "Compute AWS Batch parameters and create a STARTED TaskRunRecord for the SQLMesh task run",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${GetBatchJobParamsFunction}",
        "Payload": {
          "task_type": "sqlmesh",
          "workflow_key": "process-works",
          "release_date.$": "$.release_date",
          "aws_env.$": "$.aws_env",
          "bucket_name.$": "$.bucket_name",
          "execution_arn.$": "$$.Execution.Id",
          "run_id_sqlmesh_prev.$": "$.run_id_sqlmesh_prev",
          "run_id_openalex_works.$": "$.run_id_openalex_works",
          "run_id_datacite.$": "$.run_id_datacite",
          "run_id_crossref_metadata.$": "$.run_id_crossref_metadata",
          "run_id_ror.$": "$.run_id_ror",
          "run_id_data_citation_corpus.$": "$.run_id_data_citation_corpus"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "run_name.$": "$.Payload.run_name",
        "batch_params.$": "$.Payload.batch_params"
      },
      "ResultPath": "$.current",
      "Next": "SubmitSqlmesh",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "SendTaskFailure"
        }
      ]
    },
    "SubmitSqlmesh": {
      "Type": "Task",
      "Comment": "Submit the synchronous AWS Batch job to run the SQLMesh plan",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobName.$": "$.current.batch_params.JobName",
        "JobQueue.$": "$.current.batch_params.JobQueue",
        "JobDefinition.$": "$.current.batch_params.JobDefinition",
        "ContainerOverrides.$": "$.current.batch_params.ContainerOverrides"
      },
      "ResultPath": null,
      "Next": "SetSqlmeshTaskRunComplete",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "SendTaskFailure"
        }
      ]
    },
    "SetSqlmeshTaskRunComplete": {
      "Type": "Task",
      "Comment": "Mark the SQLMesh task run as COMPLETED in the database and record its run_id",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SetTaskRunCompleteFunction}",
        "Payload": {
          "task_type": "sqlmesh",
          "workflow_key": "process-works",
          "release_date.$": "$.release_date",
          "current.$": "$.current"
        }
      },
      "ResultPath": null,
      "Next": "SendTaskSuccess",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "SendTaskFailure"
        }
      ]
    },
    "SendTaskSuccess": {
      "Type": "Task",
      "Comment": "Return the run_id to the parent state machine via task token callback",
      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskSuccess",
      "Parameters": {
        "TaskToken.$": "$.TaskToken",
        "Output.$": "States.Format('\\{\"task_run_id\": \"{}\", \"task_run_status\": \"COMPLETED\"\\}', $.current.run_id)"
      },
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "SendTaskFailure"
        }
      ],
      "End": true
    },
    "SendTaskFailure": {
      "Type": "Task",
      "Comment": "Notify the parent that this child failed via task token callback",
      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskFailure",
      "Parameters": {
        "TaskToken.$": "$.TaskToken",
        "Error": "ChildExecutionFailed",
        "Cause.$": "States.JsonToString($.error_info)"
      },
      "ResultPath": null,
      "Next": "ChildFailed"
    },
    "ChildFailed": {
      "Type": "Fail",
      "Error": "ChildExecutionFailed",
      "Cause": "Child failed after notifying parent"
    }
  }
}
