infra/templates/state_machines/process_works_workflow/sync_works_workflow.asl.json
{
  "Comment": "Sync-works task run — builds Batch params, submits job, marks task run COMPLETED",
  "StartAt": "BuildSyncWorksParams",
  "States": {
    "BuildSyncWorksParams": {
      "Type": "Task",
      "Comment": "Compute AWS Batch parameters and create a STARTED TaskRunRecord for the sync-works task run",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${GetBatchJobParamsFunction}",
        "Payload": {
          "task_type": "sync-works",
          "workflow_key": "process-works",
          "release_date.$": "$.release_date",
          "aws_env.$": "$.aws_env",
          "bucket_name.$": "$.bucket_name",
          "execution_arn.$": "$$.Execution.Id",
          "sqlmesh_run_id.$": "$.sqlmesh_run_id"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "run_name.$": "$.Payload.run_name",
        "batch_params.$": "$.Payload.batch_params"
      },
      "ResultPath": "$.current",
      "Next": "SubmitSyncWorks",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "SendTaskFailure"
        }
      ]
    },
    "SubmitSyncWorks": {
      "Type": "Task",
      "Comment": "Submit the synchronous AWS Batch job to sync works to OpenSearch",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobName.$": "$.current.batch_params.JobName",
        "JobQueue.$": "$.current.batch_params.JobQueue",
        "JobDefinition.$": "$.current.batch_params.JobDefinition",
        "ContainerOverrides.$": "$.current.batch_params.ContainerOverrides"
      },
      "ResultPath": null,
      "Next": "SetSyncWorksTaskRunComplete",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "SendTaskFailure"
        }
      ]
    },
    "SetSyncWorksTaskRunComplete": {
      "Type": "Task",
      "Comment": "Mark the sync-works task run as COMPLETED in the database and record its run_id",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SetTaskRunCompleteFunction}",
        "Payload": {
          "task_type": "sync-works",
          "workflow_key": "process-works",
          "release_date.$": "$.release_date",
          "current.$": "$.current"
        }
      },
      "ResultPath": null,
      "Next": "SendTaskSuccess",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "SendTaskFailure"
        }
      ]
    },
    "SendTaskSuccess": {
      "Type": "Task",
      "Comment": "Send the task success token back to the parent state machine",
      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskSuccess",
      "Parameters": {
        "TaskToken.$": "$.TaskToken",
        "Output": "{}"
      },
      "ResultPath": null,
      "End": true
    },
    "SendTaskFailure": {
      "Type": "Task",
      "Comment": "Notify the parent that this child failed via task token callback",
      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskFailure",
      "Parameters": {
        "TaskToken.$": "$.TaskToken",
        "Error": "ChildExecutionFailed",
        "Cause.$": "States.JsonToString($.error_info)"
      },
      "ResultPath": null,
      "Next": "ChildFailed"
    },
    "ChildFailed": {
      "Type": "Fail",
      "Error": "ChildExecutionFailed",
      "Cause": "Child failed after notifying parent"
    }
  }
}
